<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/77024fa835.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../Assets/css/Proyecto.css">

  <title>ForjaEmpresa</title>
 <link rel="stylesheet" href="../Assets/css/Proyecto.css"> 
</head>
<body id="body12">   
    
    <section id="back">
        <br>
        <br>
        <div class="boto"> 
            <button class="botonvolver roll-in-blurred-left"> <a href="/index.html" >Volver al Inicio</a>
            </button> 
        </div>
        <br>
        
        <div class="upform">
            <br>
            <img class="logo-forja-login slide-in-fwd-center" src="../Assets/imagenes/0. logoforja.png" alt="logoforja">
            <br>
            <br>
            <h3>Contigo, siempre!</h3>
            <br>
        </div>
        <div class="formulario">
        <form>
            <label for="name">Usuario:</label>
            <br>
            <input  type="name">
            <br>
            <br>
            <label for="username">contraseña:</label>
            <br>
            
            <input  type="password">
            <br>
            <p><a  href="#">¿olvidaste la contraseña?</a></p>
                <br>
                
            <button class="ingresa"> <a href="dashboard.html" >Ingresar</a>
            </button> 
            <br>
            <br>   
        </form>  
    </div>
    </section>
   

</body>
</html>